<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Registro</title>
    <link  th:href="@{/StyleLogin/StyleRegistro.css}" rel="stylesheet">
</head>

<body>
<div class="form-container">
    <div th:if="*{param.exito}" class="btn btn-info">
        registrado exitosamente
    </div>
    <div th:if="*{param.eror}">
        error al registrar
    </div>
    <h2>Registro de Usuario</h2>
    <form method="POST" th:action="@{/registro/nuevo}" th:object="${usuarioDTO}">
        <div class="input-group">
            <input type="text" id="nombre" th:field="*{nombre}" name="nombre" required />
            <label >Nombre</label>
        </div>

        <div class="input-group">
            <input type="text" id="apellidos" name="apellidos" th:field="*{apellido}"  required />
            <label for="apellidos">Apellidos</label>
        </div>

        <div class="input-group">
            <input type="email" id="email" name="email"  th:field="*{email}" required />
            <label for="email">Correo electrónico</label>
        </div>

        <div class="input-group">
            <input type="password" id="password" name="password" th:field="*{password}" required />
            <label for="password">Password</label>
        </div>
        <button type="submit">Enviar</button>
        <br>
        <br>
        <stro> ya tienes una cuenta? <a href="/login">inicia sesion aqui</a></stro>
    </form>
</div>
</body>

</html>